@media only screen and (min-width: 1081px) {

    .formulario-login{
        padding-left: 5em;
        padding-right: 5em;
        margin-left: 10em;
        margin-right: 10em;
        margin-top: 3em;
    }
    
}

@media only screen and (max-width: 1080px) {

    .formulario-login{
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 3em;
    }
    
}



.icon-usuario{
    width: 10em;
    padding: 1em;
    margin-left: calc(50% - 5em);
}

.registro{
    cursor: pointer;
}