.img-manzana{
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.ficha-producto{
    display: inline-block;
    justify-content: center;
    margin: 10px;
    width: 200px;
    cursor: pointer;
}

.producto{
    padding: 10px;
    width: 550px;
    margin-top: 3em;
    margin-left: calc(50% - 225px);
}

.img-manzana-screen{
    width: 480px;
    height: 480px;
    margin-left: 35px;
}

.number-choose{
    width: 200px;
}

.inline{
    display: inline-block;
    justify-content: center;
}